# Python
__pycache__/
*.pyc
*.pyo

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit Cache
.streamlit/

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/

# Large Model Files
*.bin
*.pt
*.pth